/* FLEX ALIGNMENT - VH CENTER */
footer,
.price_by_night,
.max_guest,
.number_rooms,
.number_bathrooms {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------- */

/* PLACES */
.places h1 {
    text-align: left;
    font-size: 30px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    align-self: flex-start;
}

.places article h2 {
    font-size: 30px;
    margin: 0;

    /* modified */
    border-bottom: 1px solid #DDDDDD;
    width: inherit;
    text-align: center;
    padding-bottom: 26px;
}

.places__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* ------------------------- */
article{
    position: relative;
}

.price_by_night {
    color: #FF5A5F;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;

    /* align top right */
    position: absolute;
    top: 10px;
    right: 10px;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    width: inherit;
    display: flex;
    justify-content: space-evenly;
}
.information div p {
    margin: 0;
}

.max_guest, .number_rooms, .number_bathrooms {
    flex-direction: column;
}

.icon_bath, .icon_guest, .icon_room {
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}

.icon_bath {
    background-image: url("../images/icon_bath.png");
}

.icon_guest {
    background-image: url("../images/icon_group.png");
}

.icon_room {
    background-image: url("../images/icon_bed.png");
}

/* more styles: AMENITIES */
article .amenities {
    width: 100%;
    padding: 0;
}
article .amenities h2, article .reviews h2{
    font-size: 16px;
    text-align: left;
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 10px;
    margin-top: 10px;
}

article .amenities p {
    margin: 10px 0;
}

article ul {
    list-style: none;
    padding: 0;
}
article li {
    display: flex;
    align-items: center;
}

article .icon__pet,
article .icon__tv,
article .icon__wifi {
    width: 30px;
    height: 30px;
    background-size: contain;
    margin-right: 5px;
}

article .icon__pet {
    background-image: url("../images/icon_pets.png");
}
article .icon__tv {
    background-image: url("../images/icon_tv.png");
}
article .icon__wifi {
    background-image: url("../images/icon_wifi.png");
}

article .reviews li {
    flex-direction: column;
    align-items: baseline;
}

article .reviews li p {
    margin-top: 5px;
    font-size: 12px;
}
article .reviews li h3 {
    font-size: 14px;
}