.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;

    /* personal adjustments */
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;

    /* styles to center */
    position: absolute;
    right: 30px;
}
.filters button:hover {
    opacity: 90%;
}

.locations, .amenities {
    height: 100%;
    width: 25%;
    
    /* personal styles */
    padding-left: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.locations {
    border-right: 1px solid #DDDDDD;
}

section h3 {
    font-weight: 600;
    margin: 0;
}
section h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 5px 0 0 0;
}